
<div *ngIf="isLoaded">
    <div>
        <mat-button-toggle (click)="selectAll()" style="margin: 10px;">Select all</mat-button-toggle>     
    </div>
    <span *ngFor="let photo of photos; let i = index">
        <ng-container *ngIf="i >= getStartIndex() && i < getEndIndex() ">
            <img [src]="photo.source">
            <mat-checkbox [checked]="checkAll" (click)="setPhotoSelection(i)"></mat-checkbox>  
        </ng-container>      
    </span>

    <mat-paginator [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = $event">
    </mat-paginator>
</div>

<export-photos [photosToExport]="this.selectedPhotos"></export-photos>

