
<div>
    <div>
        <mat-button-toggle (click)="selectAll()" style="margin: 10px;">Select all</mat-button-toggle>     
    </div>
    <span *ngFor="let photo of photos; let i = index">
        <ng-container *ngIf="i >= getStartIndex() && i < getEndIndex() ">
            <img [src]="photo.source">
            <mat-checkbox [checked]="selectedPhotos.includes(photo)" (click)="updatePhotoSelection($event, photo)"></mat-checkbox>  
        </ng-container>      
    </span>

    <mat-paginator [length]="this.photos.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="paginatorEvent = $event">
    </mat-paginator>
</div>
<export-photos *ngIf="!isAlbumFromFirebase()" [photosToExport]="this.selectedPhotos"></export-photos>
<download-photos *ngIf="isAlbumFromFirebase()" [photosToExport]="this.selectedPhotos"></download-photos> 

