/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    padding: 4vw 14vw;
    background-color: rgb(236, 234, 234);
    font-family: 'Proxima Nova Soft','Helvetica Neue',sans-serif;
}