h1 {
    display: block;
    margin: 25px auto;
    width: 100%;
    text-align: center;
}


#profilePicture {
    display: block;
    margin: auto;
    width: 150px;
    border-radius: 50%;
}

.logout {
    display: block;
    margin: auto;
    width: 50px;
   
}

h2 {
    margin: 0;
}